<config>
  <!-- TODO implement detection of source .rpms by using RPMTAG_SOURCEPACKAGE -->
  
  <rule>
    <name>source arch</name>
    <match>
      <or>
        <arch>src</arch>
        <arch>nosrc</arch>
      </or>
    </match>
    
    <rpm-file-size-bytes>
      <fail/>
    </rpm-file-size-bytes>
  </rule>
  
  <!-- Module rules -->
  
  <rule>
    <name>module maven</name>
    <match>
      <release>.*\.mm</release>
    </match>
  </rule>
  
  <rule>
    <name>module ant</name>
    <match>
      <release>.*\.am</release>
    </match>
  </rule>
  
  <rule>
    <name>module jp-runtime</name>
    <match>
      <release>.*\.jpr</release>
    </match>
  </rule>
  
  <rule>
    <name>module jp-tools</name>
    <match>
      <release>.*\.jpt</release>
    </match>
  </rule>
  
  <rule>
    <name>module jp-bootstrap</name>
    <match>
      <release>.*\.jpb</release>
    </match>
  </rule>
  
  <!-- Package-specific rules -->
  
  <rule>
    <name>byaccj</name>
    <match>
      <name>byaccj</name>
    </match>
    
    <requires>
      <any>
        <regex>rpmlib\(.*</regex>
        <regex>libc\.so\.6.*</regex>
        <text>gcc</text>
        <text>make</text>
        <text>rtld(GNU_HASH)</text>
      </any>
    </requires>
  </rule>
  
  <rule>
    <name>xmvn-minimal</name>
    <match>
      <name>xmvn-minimal</name>
    </match>
    
    <requires>
      <any>
        <text>/usr/bin/sh</text>
        <text>apache-commons-cli</text>
        <text>apache-commons-lang3</text>
        <text>atinject</text>
        <text>google-guice</text>
        <text>guava</text>
        <text>plexus-cipher</text>
        <text>plexus-classworlds</text>
        <text>plexus-containers-component-annotations</text>
        <text>plexus-interpolation</text>
        <text>plexus-sec-dispatcher</text>
        <text>plexus-utils</text>
        <text>sisu</text>
        <text>slf4j</text>
        <text>xmvn-api</text>
        <text>xmvn-connector-aether</text>
        <text>xmvn-core</text>
        <text>maven-jdk-binding</text>
        <text>maven-lib</text>
        <text>maven-resolver</text>
        <text>maven-wagon</text>
        <regex>rpmlib\(.*</regex>
      </any>
    </requires>
  </rule>
  
  <rule>
    <name>javapackages-tools</name>
    <match>
      <name>javapackages-tools</name>
    </match>
    
    <requires>
      <any>
        <text>coreutils</text>
        <text>findutils</text>
        <text>make</text>
        <text>javapackages-tools</text>
        <text>config(javapackages-tools)</text>
        <text>java-11-openjdk-headless</text>
        <text>javapackages-filesystem</text>
        <text>which</text>
      </any>
    </requires>
  </rule>
  
  <!-- RPM file size rules -->
  
  <rule>
    <name>general size</name>
    <match/>
    
    <rpm-file-size-bytes>
      <int-range> - 2'000'000</int-range>
    </rpm-file-size-bytes>
  </rule>
  
  <rule>
    <name>very large size</name>
    <match>
      <and>
        <or>
          <name>apache-commons-compress</name>
          <name>javapackages-bootstrap</name>
        </or>
      </and>
    </match>
    
    <rpm-file-size-bytes>
      <int-range> - 35'000'000</int-range>
    </rpm-file-size-bytes>
  </rule>
  
  <rule>
    <name>larger size</name>
    <match>
      <or>
        <name>ant</name>
        <name>ant-lib</name>
        <name>aqute-bnd</name>
        <name>aqute-bnd-javadoc</name>
        <name>aqute-bndlib</name>
        <name>byte-buddy</name>
        <name>byte-buddy-javadoc</name>
        <name>guava</name>
        <name>guava-javadoc</name>
        <name>jdom</name>
        <name>jflex</name>
        <name>junit5</name>
        <name>maven</name>
        <name>maven-lib</name>
        <name>slf4j</name>
        <name>xalan-j2</name>
        <name>xmvn-minimal</name>
      </or>
    </match>
    
    <rpm-file-size-bytes>
      <int-range> - 10'000'000</int-range>
    </rpm-file-size-bytes>
  </rule>
  
  <!-- Java bytecode rules -->
  
  <rule>
    <name>no java bytecode</name>
    <match/>
    
    <java-bytecode>
      <fail/>
    </java-bytecode>
  </rule>
  
  <rule>
    <name>java bytecode maven/ant</name>
    <match>
      <or>
        <rule>module maven</rule>
        <rule>module ant</rule>
      </or>
    </match>
    
    <java-bytecode>
      <int-range>49 - 52</int-range>
    </java-bytecode>
  </rule>
  
  <rule>
    <name>java bytecode javapackages</name>
    <match>
      <or>
        <rule>module jp-tools</rule>
        <rule>module jp-bootstrap</rule>
      </or>
    </match>
    
    <java-bytecode>
      <int-range>49 - 55</int-range>
    </java-bytecode>
  </rule>
  
  <!-- Requires rules -->
  
  <rule>
    <name>requires python</name>
    <match>
      <or>
        <name>python3-javapackages</name>
        <name>javapackages-generators</name>
        <name>javapackages-tools</name>
      </or>
    </match>
    
    <requires>
      <any>
        <regex>.*python3.*</regex>
        <text>python(abi)</text>
        <regex>rpmlib\(.*</regex>
      </any>
    </requires>
  </rule>
  
  <rule>
    <name>requires</name>
    <match/>
    
    <requires>
      <any>
        <regex>rpmlib\(.*</regex>
        <regex>mvn\(.*</regex>
        <regex>\(?java.*</regex>
        <regex>maven.*</regex>
      </any>
    </requires>
  </rule>
</config>
