<config>
  <!-- Rule for source packages -->
  <rule>
    <name>source</name>
    <match>
      <or>
        <arch>src</arch>
        <arch>nosrc</arch>
      </or>
    </match>
  </rule>
  
  <rule>
    <name>binary</name>
    <match>
      <not>
        <rule>source</rule>
      </not>
    </match>
  </rule>
  
  <!-- Rule for checking the size of every non-source package -->
  <rule>
    <name>larger binary size</name>
    <match>
      <and>
        <rule>binary</rule>
        <or>
          <name>byte-buddy</name>
          <name>byte-buddy-javadoc</name>
          <name>ant-lib</name>
          <name>aqute-bnd-javadoc</name>
          <name>aqute-bndlib</name>
          <name>guava</name>
          <name>guava-javadoc</name>
          <name>xmvn-minimal</name>
          <name>maven-lib</name>
          <name>javapackages-bootstrap</name>
        </or>
      </and>
    </match>
    
    <rpm-file-size-bytes>
      <int-range> - 10'000'000</int-range>
    </rpm-file-size-bytes>
  </rule>
  
  <rule>
    <name>general binary size</name>
    <match>
      <not>
        <rule>larger binary size</rule>
      </not>
    </match>
    
    <rpm-file-size-bytes>
      <int-range> - 2'000'000</int-range>
    </rpm-file-size-bytes>
  </rule>
  
  <rule>
    <name>javadoc</name>
    <match>
      <and>
        <rule>binary</rule>
        <name>.*-javadoc-.*</name>
      </and>
    </match>
    
    <!-- -->
  </rule>
  
  <rule>
    <name>javapackages-tools</name>
    <match>
      <and>
        <rule>binary</rule>
        <name>javapackages-tools</name>
      </and>
    </match>
    
    <!-- -->
  </rule>
  
  <rule>
    <name>byaccj</name>
    <match>
      <and>
        <rule>binary</rule>
        <name>byaccj</name>
      </and>
    </match>
    
    <!-- -->
  </rule>
</config>
